{% extends 'base.html.twig' %}

{% block title %}Hello ReportReasonController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Types de reports : </h1>
        {% for reason in reasons %}
            <div class="row">
                <div class="col-lg-6">{{ reason.reason }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
