{% extends 'base.html.twig' %}

{% block title %}Types de reports{% endblock %}

{% block body %}
    <div class="container">
        <h1>Types de reports : </h1>
        <div class="row">
            <div class="col-lg-2">
                <a href="{{ path('report_reason_create') }}">
                    <i class="fas fa-plus fa-2x"></i>
                </a>
            </div>
        </div>
        {% for reason in reasons %}
            <div class="row">
                <div class="col-lg-6">{{ reason.reason }}</div>
                <div class="col-lg-2">
                    <a href="{{ path('report_reason_update',{'id':reason.id}) }}">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="{{ path('report_reason_delete',{'id':reason.id}) }}">
                        <i class="fas fa-times-circle fa-2x"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
