{% extends 'base.html.twig' %}

{% block title %}Activitité : {{ activity.name }} {% endblock %}
{% block head %}
    {{ encore_entry_link_tags('booking_index') }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}

    <h1>Bookings index</h1>
    <i class="fas fa-rocket"></i>
    

    <div class="row">
        <div id="calendar" class="col-lgl-12"></div>
    </div>

    <div class="modal fade" id="bookingOptions" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                    <div class="modal-body">
                        {% if app.user %}
                            <p id="bookingOptionsTitle"></p>
                            <button type="button" id="bookingReservation" class="btn btn-primary">Réserver</button>
                            {% if app.user.id() == activity.user.id() %}
                                <button type="button" id="bookingCancellation" class="btn btn-warning">Annuler</button>
                                <button type="button" id="bookingRemoval" class="btn btn-danger">Effacer</button>
                            {% endif %}
                        {% else %}
                            <p>log toi</p>
                        {% endif %}
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>


    {% if app.user %}
        {% if app.user.id() == activity.user.id() %}
            <div class="modal fade" id="bookingCreation" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Réserver</p>
                            <button type="button" id="bookingAdd" class="btn btn-primary">Créer une réservation</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}


    <script>
        let activityId = {{ activity.id }};
        {% if app.user%}
            let user = {{ app.user.id }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('booking_index') }}
{% endblock %}