{% extends 'base.html.twig' %}

{% block title %}Hello ReportReasonController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Catégories : </h1>
        {% for category in categories %}
            <div class="row">
                <div class="col-lg-6">{{ category.name }}</div>
                <div class="col-lg-6">{{ category.description }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
