{% extends 'base.html.twig' %}

{% block title %}Hello ReportReasonController!{% endblock %}
{% block head %}{{ encore_entry_link_tags('comment_moderation') }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="col-lg-6" align="center">Catégories : </h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-2" align="center">
                <a href="{{ path('category_create') }}">
                    <i class="fas fa-plus fa-3x"></i>
                </a>
            </div>
        </div>
        {% for category in categories %}
            <div class="row category regularList">
                <div class="col-lg-10">{{ category.name }}</div>
                <div class="col-lg-1">
                    <a href="{{ path('category_update',{'id':category.id}) }}">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </div>
                <div class="col-lg-1">
                    <a href="{{ path('category_delete',{'id':category.id}) }}">
                        <i class="fas fa-times-circle fa-2x"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
