{%  extends 'base.html.twig' %}


{% block body %}
	<h1>Utilisateurs</h1>

	<table class="table">
		<thead>
			<th>id</th>
			<th>email</th>
			<th>username</th>
			<th>Rôles</th>
			<th>Modifier</th>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.username }}</td>
					<td>
						{% for role in  user.roles %}
							{% if role == "ROLE_USER" %}
								Utilisateur
							{% elseif role == "ROLE_EDITOR" %}
								Gestionnaire d'activité
							{% elseif role == "ROLE_MODERATOR" %}
								Modérateur
							{% elseif role == "ROLE_ADMIN" %}
								Administrateur
							{% endif %}
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('admin_user_role_update', {'id': user.id }) }}" class="btn btn-primary">Modifier</a>
					</td>
				</tr>
			{% else  %}
				<tr>
					<td>Il n'y a pas d'utilisateur inscrit</td>
				</tr>
			{% endfor  %}
		</tbody>
	</table>

{% endblock %}