{%  extends 'base.html.twig' %}
{% form_theme formActivity 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<h1>Utilisateurs</h1>

	<table class="table">
		<thead>
			<th>id</th>
			<th>email</th>
			<th>username</th>
			<th>Actions</th>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.username }}</td>
					<td></td>
				</tr>
			{% else  %}
				<tr>
					<td>Il n'y a pas d'utilisateur inscrit</td>
				</tr>
			{% endfor  %}
		</tbody>
	</table>

{% endblock %}