{%  extends 'base.html.twig' %}
{% form_theme formActivity 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<h1>creation d'une activité</h1>
	{{ form_start(formActivity) }}

	{{ form_row(formActivity.name, {'attr' : {'placeholder' : "Nom", 'title' : 'titre trop court'}}) }}
	{{ form_row(formActivity.description, {'attr' : {'placeholder' : "Description"}}) }}
	{{ form_row(formActivity.latitude, {'attr' : {'placeholder' : "Latitude"}}) }}
	{{ form_row(formActivity.longitude, {'attr' : {'placeholder' : "Longitude"}}) }}
	{{ form_row(formActivity.picture) }}
	{{ form_row(formActivity.category) }}
	{{ form_row(formActivity.city, {'attr' : {'placeholder' : "Ville"}}) }}
	{{ form_row(formActivity.zipcode, {'attr' : {'placeholder' : "Code postal"}}) }}
	{{ form_row(formActivity.street, {'attr' : {'placeholder' : "Nom de la rue"}}) }}
	{{ form_row(formActivity.street_number, {'attr' : {'placeholder' : "Numéro de rue"}}) }}
	{{ form_row(formActivity.is_indoor, {'attr' : {'placeholder' : "Indoor"}}) }}
	{{ form_row(formActivity.is_outdoor, {'attr' : {'placeholder' : "Outdoor"}}) }}
	{{ form_row(formActivity.animals, {'attr' : {'placeholder' : "Animaux"}}) }}
	{{ form_row(formActivity.is_handicaped, {'attr' : {'placeholder' : "Accès aux personnes à mobilité réduite"}}) }}


	<button type="submit" class="btn btn-success">
		{% if editMode %}
			Modifier Activité
		{% else %}
			Créer Activité
		{% endif %}
	</button>
	{{ form_end(formActivity) }}

{% endblock %}
