{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block head %}{{ encore_entry_link_tags('home') }}{% endblock %}


{% block body %}

<div class="row">
    <h1 id="banner-welcome" class="col-lg-12 text-center">Vosges Activités</h1>
    <h2 class="col-lg-12 text-center">Bienvenue</h2>
</div>
<div id="carousel-welcome" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-welcome" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-welcome" data-slide-to="1"></li>
        <li data-target="#carousel-welcome" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('images/slide1.jpg') }}" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('images/slide2.jpg') }}" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('images/slide3.jpg') }}" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-welcome" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-welcome" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-lg-12 mx-auto text-center">
        <a href="{{ path('activity') }}" class="btn btn-primary col-lg-6" role="button">
            <span>Activités </span>
            <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

    {{ encore_entry_script_tags('home') }}

{% endblock %}