{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}
{% block head %}
	{{ encore_entry_link_tags('activities') }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>


	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />
	<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>

{% endblock %}


{% block body %}
	<div class="row">
		<h1 class="col-lg-12 text-center">Activités : </h1>
	</div>
	<div class="row text-center justify-content-center" id="filterDashboard">
		<div class="row filterGroup justify-content-center">
			<a class="filter constraint unselected" data-filter="handicaped">
				<i class="fas fa-wheelchair fa-2x"></i>
			</a>
			<a class="filter constraint unselected" data-filter="animals">
				<i class="fas fa-paw fa-2x"></i>
			</a>
		</div>
		<div class="row filterGroup justify-content-center">
			<a class="filter constraint unselected" data-filter="indoor">
				<i class="fas fa-home fa-2x"></i>
			</a>
			<a class="filter constraint unselected" data-filter="outdoor">
				<i class="fas fa-campground fa-2x"></i>
			</a>
		</div>
		<div class="row filterGroup justify-content-center">
			{% for category in categories %}
				<a class="filter option unselected text-truncate" data-filter="{{ category.id }}"  title="{{ category.description }}">{{ category.name }}</a>
			{% endfor %}
		</div>

	</div>
	<div class="row text-center justify-content-center">
		<div class="row justify-content-center">
			<a class="viewsOptions isList" ><i class="fas fa-list fa-3x"></i></a>
			<a class="viewsOptions isMap"><i class="fas fa-map-marked-alt fa-3x"></i></a>
		</div>
	</div>
	<div class="activitiesViews displayed" id="mapid"></div>
	<div class="activitiesViews hidden" id="isList">
		<section class="articles row d-flex flex-wrap"></section>
	</div>

{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('activities') }}
	<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>
{% endblock %}