{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}
<section class="articles">
	{% for activity in activities %}
		<article>
			<h2>{{activity.name}}</h2>
			<p>{{activity.city}}</p>
			<a href="{{ path('read', {'id':activity.id}) }}" class="btn btn-primary">Lire l'article</a>
		</article>
	{% endfor %}
</section>
{% endblock %}