{% extends 'base.html.twig' %}

{% block head %}
  {{ encore_entry_link_tags('test') }}
{% endblock %}
{% block stylesheets %}
  <style>
    #calendar{
     width:80%;
     margin:auto;
    }
  </style>
{% endblock %}
{% block body %}
  <h1>test</h1>
  <div id="calendar"></div>
{% endblock %}
{% block javascripts %}
  {{ encore_entry_script_tags('test') }}


{% endblock%}