article{
    margin-bottom:1em;

}
article:hover{
    background-color:whitesmoke;
    margin-top:0.5em;
    margin-left:0.5em;
}
.selected{
    color:black;
    background-color:gray;
}
.unselected, .viewsOptions{
    color:gray;
    background-color:lightgray;
}
.filter, .viewsOptions{
    margin-right:0.3em;
    margin-left:0.3em;
    border-radius:5px;
    padding:5px;
    border:10px black;
}
.filter:hover, .viewsOptions:hover{
    color:dimgray;
    box-shadow:1px 1px;
    text-decoration:none;
    cursor:pointer;
}

.filterGroup{
    margin-right:5em;
}
.displayed{
    display:block;
}
.hidden{
    display:none;
}
#mapid{
    height: 60vh;
}
.row{
    margin-bottom:1em;
}
