.basicContainer{
    min-height:85vh;
}
footer{
    margin-top:2em;
}
.fa-github{
    color:black;
}
.comment{
    border:solid 1px black;
    margin:1px;
}
.fa-times-circle
{
    color:red;
}
.fa-times-circle:hover
{
    color:darkred;
    text-decoration:none;
}
.fa-eye
{
    color:black;
}
.fa-eye:hover
{
    color:#2E2E2E;
    text-decoration:none;
}
.fa-edit
{
    color:orange;
}
.fa-edit:hover
{
    color:darkorange;
    text-decoration:none;
}
.fa-check, .fa-plus
{
    color:green;
}
.fa-check:hover, .fa-plus:hover
{
    color:darkgreen;
    text-decoration:none;
}

.regularList{
    background-color:lightgray;
    margin-bottom:1em;
    padding:10px;
}
.regularList:hover{
    box-shadow:0.5em 0.5em lightgray;
    background-color:gray;
}