:root {
    --app-theme-color-one: #304025;
    --app-theme-color-two: #6D8C3E;
    --app-theme-color-three: #D2D904;
    --app-theme-color-four: #D5D971;
    --app-theme-color-five: #D9D5A3;
}

.basicContainer{
    min-height:85vh;
}
footer{
    margin-top:2em;
}
.fa-github{
    color:black;
}
.fa-times-circle, .fa-times
{
    color:red;
}
.fa-times-circle:hover, .fa-times:hover
{
    color:darkred;
    text-decoration:none;
}
.fa-eye,
.fa-flag,
.fa-calendar-alt,
.fa-map-marked
{
    color:black;
}
.fa-eye:hover,
.fa-flag:hover,
.fa-calendar-alt:hover,
.fa-map-marked:hover
{
    color:#2E2E2E;
    text-decoration:none;
}
.fa-edit
{
    color:orange;
}
.fa-edit:hover
{
    color:darkorange;
    text-decoration:none;
}
.fa-check, .fa-plus
{
    color:green;
}
.fa-check:hover, .fa-plus:hover
{
    color:darkgreen;
    text-decoration:none;
}

.regularList{
    background-color:lightgray;
    margin-bottom:1em;
    padding:10px;
}
.regularList:hover{
    box-shadow:0.5em 0.5em lightgray;
    background-color:gray;
}
.appThemeColorOne{
    color:var(--app-theme-color-one);
}
.appThemeBackgroundColorOne{
    background-color:var(--app-theme-color-one);
}
.appThemeColorTwo{
    color:var(--app-theme-color-two);;
}.appThemeBackgroundColorTwo{
    background-color:var(--app-theme-color-two);
}
.appThemeColorThree{
    color:var(--app-theme-color-three);
}.appThemeBackgroundColorThree{
    background-color:var(--app-theme-color-three);
}
.appThemeColorFour{
    color:var(--app-theme-color-four);
}
.appThemeBackgroundColorFour{
    background-color:var(--app-theme-color-four);
}
.appThemeColorFive{
    color:var(--app-theme-color-five);
}
.appThemeBackgroundColorFive{
    background-color:var(--app-theme-color-five);
}
