<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">VosgesActivités</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <a href="https://www.google.com/maps/search/?api=1&query=48.07226143385193,6.872925942477045">
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            4 Place des Déportés, 88400 Gérardmer
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:+33329272727">+33329272727</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@gerardmer.net">info@gerardmer.net</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Autres informations</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <a class="text-decoration-none" href="/">Accueil</a>
                    </li>
                    <li>
                        <a class="text-decoration-none" href="{{ path('activity') }}">Activités</a>
                    </li>
                    <li>
                        <a class="text-decoration-none" href="{{ path('security_registration') }}">Inscription</a>
                    </li>
                    <li>
                        <a class="text-decoration-none" href="{{ path('security_login') }}">Connexion</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Auteur</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:+33642727988">06.42.72.79.88</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:bryan.razyk@gmail.com">bryan.razyk@gmail.com</a>
                    </li>
                    <li>
                        <a href="https://github.com/LeonardDeVanGogh/VosgesActivies">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 VosgesActivités
                        | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>