<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
        <title>{% block title %}Vosges Activités{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		{{ encore_entry_link_tags('app') }}
		{% block head %}{% endblock %}
    </head>

    <body>
	{{ include('_navBar.html.twig') }}
    <div class="container basicContainer">
		{% block body %}{% endblock %}
	</div>
	{{ include('_footer.html.twig') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>

